## Assignment 16 feb

In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized and structured data that is stored in a computer system. It allows users to easily retrieve, manage, and update data as needed.

SQL is an Structured Query language 

Databases are relational databases that use tables to store and organize data. The data is stored in rows and columns, with each column having a specific data type. SQL databases use a schema to define the structure of the data and enforce relationships between tables. 
Examples of SQL databases include MySQL, Oracle, and SQL Server. 
SQL databases are best suited for applications that require complex queries and transactions, such as banking and e-commerce.

NoSQL is an Not Only SQL

Databases are non-relational databases that store data in a variety of ways, including document, key-value, and graph models. NoSQL databases do not require a fixed schema, which allows for more flexibility and scalability in storing and retrieving data. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.
NoSQL databases are best suited for applications that require high scalability, flexibility, and performance, such as social media and gaming applications.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to create, modify, and delete database structures such as tables, indexes, and constraints. DDL commands are used to define the structure of a database and its objects.

1.CREATE: The CREATE command is used to create new database objects, such as tables, views, indexes, and stored procedures. For example, the following SQL statement creates a new table named "customers" with three columns: "id", "name", and "email".

In [ ]:
CREATE TABLE customers (id INT PRIMARY KEY,name VARCHAR(50),email VARCHAR(50));

2.DROP: The DROP command is used to delete database objects, such as tables, views, indexes, and stored procedures. For example, the following SQL statement drops the "customers" table:

In [ ]:
 DROP TABLE customers;

3.ALTER: The ALTER command is used to modify the structure of existing database objects, such as tables, views, and indexes. For example, the following SQL statement adds a new column named "address" to the "customers" table:

In [ ]:
 ALTER TABLE customers ADD address VARCHAR(100);

4.TRUNCATE: The TRUNCATE command is used to remove all rows from a table, but the table structure remains intact. For example, the following SQL statement removes all rows from the "customers" table:

In [ ]:
 TRUNCATE TABLE customers;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that is used to manipulate the data in a database. DML commands are used to insert, update, and delete data in database tables.

1.INSERT: The INSERT command is used to insert new data into a database table. For example, the following SQL statement inserts a new row into the "customers" table:

In [ ]:
 INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'john.doe@example.com');

2.UPDATE: The UPDATE command is used to modify existing data in a database table. For example, the following SQL statement updates the email address of the customer with the ID of 1:

In [ ]:
 UPDATE customers SET email = 'johndoe@example.com' WHERE id = 1;

3.DELETE: The DELETE command is used to remove data from a database table. For example, the following SQL statement removes the row with the ID of 1 from the "customers" table:

In [ ]:
 DELETE FROM customers WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL commands are used to perform queries on database tables.

 SELECT command to retrieve data from a table named "customers":

In [ ]:
SELECT * FROM customers;

To retrieve specific columns from the "customers" table, you can specify the column names in the SELECT statement:

In [ ]:
SELECT * FROM customers WHERE name = 'John Doe';

To retrieve only certain rows that meet specific criteria, you can add a WHERE clause to the SELECT statement:

In [ ]:
SELECT * FROM customers WHERE name = 'John Doe';

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Primary key and foreign key are two important concepts in database design that help establish relationships between tables and ensure data integrity.

Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in that table. Primary keys are used to enforce data integrity by ensuring that each row in a table can be uniquely identified and that no two rows have the same primary key value.

Foreign Key: A foreign key is a column or set of columns in one table that refers to the primary key of another table. Foreign keys are used to establish relationships between tables, allowing data to be linked and retrieved from multiple tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:

import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

mycursor =mydb.cursor()
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()
for row in myresult:
    print(row)

Explanation:

First, we import the mysql.connector library to connect to the MySQL server.

Then, we establish a connection to the MySQL server by providing the host name, user name, password, and database name.

Next, we create a cursor object using the cursor() method. The cursor is used to execute SQL queries and retrieve the results.

We use the execute() method to execute a SQL query. In this example, we select all rows from a table named "customers".

The fetchall() method retrieves all the rows returned by the SQL query.

Finally, we print the results of the query by iterating over the rows returned by fetchall().

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This specifies the table or tables from which the data is to be retrieved.

JOIN clause: This is used to join multiple tables together based on a specified condition.

WHERE clause: This is used to filter the data based on a specified condition.

GROUP BY clause: This is used to group the data based on a specified column or columns.

HAVING clause: This is used to filter the grouped data based on a specified condition.

SELECT clause: This is used to select the columns to be included in the query result.

ORDER BY clause: This is used to sort the data based on a specified column or columns.

LIMIT clause: This is used to limit the number of rows returned by the query.